* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.2)),
    url("images/philipp-hubert--zh9jEdnxr4-unsplash\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-color: #1e1d12;
  color: #fff;
}

main {
  max-width: 1000px;
  margin: 0 auto;
  min-height: 100vh;

  @media (max-width: 900px) {
    width: 90%;
  }
}

h1 {
  font-family: "Questrial", sans-serif;
  font-size: 25px;
}

h2,
h3,
a,
.footer-text {
  font-family: "Questrial", sans-serif;
}

p {
  font-family: Helvetica, arial, sans-serif;
  font-weight: 300;
}

hgroup {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.header-info {
  font-size: 40px;
}

/* Links styled as buttons */
a {
  text-decoration: none;
  font-weight: 600;
  color: #fff;
  padding: 8px 4px;
  width: 120px;
  border: solid #fff;
  border-radius: 5px;
  margin-right: 8px;
}

.link-spacing {
  margin-top: 12px;
  margin-bottom: 12px;
}

/* About me */
.info-container {
  margin-top: 50px;
  padding: 40px 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.contact-info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.profile-img {
  width: 250px;
  height: 250px;
  padding: 24px;

  @media (max-width: 900px) {
    display: none;
  }
}

/* Project card */
.project-card {
  margin-top: 20px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;

  @media (max-width: 900px) {
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    gap: 12px;
  }
}

.project-card img {
  width: 700px;
  border: solid transparent;
  border-radius: 10px;

  @media (max-width: 900px) {
    width: 100%;
  }
}

.project-information {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 12px;

  @media (max-width: 900px) {
    margin-left: 0;
  }
}

/* Tags */
.tag-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 8px;

  @media (max-width: 900px) {
    flex-direction: row;
    margin-bottom: 20px;
  }
}

.tag {
  border: solid transparent;
  border-radius: 10px;
  font-size: 12px;
  color: #000;
  width: fit-content;
  padding: 2px 4px;
}

.html-tag {
  background-color: #f1db4b;
}

.css-tag {
  background-color: #e3a127;
}

.js-tag {
  background-color: #e38827;
}

/* Footer */
footer {
  margin-top: 50px;
  padding: 20px 30px 50px 30px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
}

.footer-text {
  color: #000;
  margin-bottom: 20px;
  font-weight: 600;
}

footer a,
.footer-text {
  padding: 0;
  margin-top: 8px;
  color: #000;
}

footer a:hover {
  text-decoration: underline;
  text-underline-offset: 2px;
}
